* {
  box-sizing: border-box;
}

body {
  padding: 1.5em;
  font: 1.1em/1.75 sans-serif;
  background-image: url('images/marshalls_beach.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #313841;
}

article {
  position: relative;
  margin: 0 auto 5em;
  margin-top: 9vw;
  max-width: 25em;
}

article:before,
article:after {
  content: '';
  background-color: rgba(255, 255, 255, .7);
  transform-origin: 25% 25%;
  position: absolute;
  padding: 1.5em 2em;
  top: -1.5em;
  left: -2em;
  height: 100%;
  width: 100%;
  z-index: 1;
}

article:before {
  transform: skew(2deg, 1deg) translate(.2em, .4em);
}

article:after {
  transform: skew(-1.7deg, -.7deg) translate(.2em, 0em);
}

article > * {
  position: relative;
  z-index: 2;
}

header h1 {
  font-size: 1.2em;
}

a {
  color: #ff5622;
  font-weight: 600;
}

.with-title {
  border-bottom: 1px dotted #00aeb5;
  cursor: help;
}

.no-wrap {
  white-space: nowrap;
}

.social-links {
  list-style-type: none;
  padding: 0;
  margin: 1.5em 0;
}

.social-links li {
  display: inline-block;
  margin-right: 1em;
}

.social-links li a {
  display: inline-block;
  height: 32px;
  width: 32px;
}

.social-links li a path {
  fill: #00aeb5;
}

.social-links li a:hover path,
.social-links li a:focus path {
  fill: #ff5622;
}
